.centrar{
    display: flex;
    
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    
}

label{

    color: #ad3333;
}
.boton{
    display: flex;
    
    justify-content: center;
    margin-top: 4px;
    align-items: center;
}
.TT1{
    color: black;
}
input{
    width: 100px;
}
.imagen{
   width: 80%;
   height: 80%;
   display: flex;
   margin: 0px;
   justify-content: center;
   align-items: center;
}