{% extends 'base_home.html' %}
{% block titulo %} Gestion de usuarios{% endblock titulo %}
{% block contenido %}
<div class="container">


        <div class="row">
            <div class="col">
                <form action="" class="form-control">
                    <fieldset><h5>Agregar usuario</h5></fieldset>

                    <div class="row">
                        <div class="col">
                            <label for="">Tipo de documento:</label>
                            <input type="text" class="form-control">
                        </div>
                        
                        <div class="col">
                            <label for="">Cedula:</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                        <label for="">Nompre completo:</label>
                        <input type="text" class="form-control">
                    </div>
                    
                    <div class="col">
                        <label for="">Programa:</label>
                        <input type="text" class="form-control">
                    </div>

                    </div>


                    <div class="row">
                        <div class="col">
                        <label for="">Email:</label>
                        <input type="text" class="form-control">
                    </div>
                    
                    <div class="col">
                        <label for="">Telefono:</label>
                        <input type="text" class="form-control">
                    </div>
                    
                    </div>

                    <div class="row">
                        <div class="col">
                        <label for="">Rol:</label>
                        <select name="" id="" class="form-control">
                            <option value="">Estudiante</option>
                            <option value="">Docente</option>
                            <option value="">Administrativo</option>
                        </select>
                    </div>
                    
                    <div class="col">
                        <label for="">Programa:</label>
                        <input type="text" class="form-control">
                    </div>
                    
                    </div>


                    <div class="row">
                        <div class="col">
                        <label for="">Genero:</label>
                        <input type="text" class="form-control">
                    </div>
                    
                    <div class="col">
                        <label for="">Telefono:</label>
                        <input type="number" class="form-control" >
                    </div>
                    
                    </div>

                    <div class="row">
                        <div class="col">
                        <label for="">Fecha de caducidad:</label>
                        <input type="text" class="form-control">
                    </div>
                    
                    <div class="col">
                        <label for="">Aula:</label>
                        <input type="text" class="form-control" value="GM 104-2" readonly>
                    </div>
                    
                    </div>

                   
                   
                        
                </form>
            </div>


            <div class="col">
                <form action="" class="form-control">
                    <fieldset><h5>Agregar credenciales</h5></fieldset>
                    <div class="row">
                        <center>
                            <br>
                            Reconocimiento facial
                            <div class="col">
                                <button style="width: 80px; height: 79px"  class="btn btn-secondary far fa-smile"></button>
                            </div>
                        </center>

                      
                    </div>
                    <br> <br> 
                    <div class="row">

                        <center>
                            Tarejta RFID
                            <div class="col">
                                <button style="width: 80px; height: 79px" class="btn btn-secondary fas fa-id-card"></button>
                            </div>
                        </center>
                       
                    </div>
                     <br> <br> <br> <br>
                </form>
            </div>

        </div>

       
   
</div>
{% endblock contenido %}
