{% extends 'base_home.html' %}
{% block titulo %} Gestion de equipos{% endblock titulo %}
{% block contenido %}
<div class="container">

        <form action="" class="form-control">
            <fieldset><h5> Hoja de vida de equipo </h5></fieldset>
           
                <div class="row">
                    <div class="col">
                        <label for="">Serial:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col">
                        <label for="">Placa:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col">
                        <label for="">Sistema operativo:</label>
                        <select name="" id="" class="form-control">
                            <option value="">Windows 7</option>
                            <option value="">Windows 8</option>
                            <option value="">Windows 10</option>
                            <option value="">Windows 11</option>
                            <option value="">Ubuntu</option>
                            <option value="">Otro</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="">Marca:</label>
                        <input type="text" name="" id="" class="form-control">
                    </div>

                    <div class="col">
                        <label for="">Codigo:</label>
                        <input type="text" name="" id="" class="form-control">
                    </div>

                    <div class="col">
                        <label for="">Equipo:</label>
                        <select name="" id="" class="form-control">
                            <option value="">Portatil</option>
                            <option value="">PC</option>
                            <option value="">Todo en uno</option>
                            <option value="">Otro</option>
                        </select>
                    </div>
                </div>
<br>
                <div class="row">
                    <h5>Caracteristicas tecnicas</h5>
                    <div class="col">
                        <label for="">Procesador:</label>
                        <input type="text" class="form-control"> 
                    </div>

                    <div class="col">
                        <label for="">Memoria ram:</label>
                        <input type="text" class="form-control"> 
                    </div>

                    <div class="col">
                        <label for="">Disco duro:</label>
                        <input type="text" class="form-control"> 
                    </div>

                </div>
                 <br>
                 <div class="row">
                    <h5>Accesorios</h5>
                    <div class="col">
                        <label for="">Monitor tipo:</label>
                        <input type="text" class="form-control"> 
                    </div>

                    <div class="col">
                        <label for="">Monitor serial:</label>
                        <input type="text" class="form-control"> 
                    </div>

                    <div class="col">
                        <label for="">Monitor caracteristicas:</label>
                        <input type="text" class="form-control"> 
                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <label for="">Teclado tipo:</label>
                        <input type="text" class="form-control"> 
                    </div>

                    <div class="col">
                        <label for="">Teclado serial:</label>
                        <input type="text" class="form-control"> 
                    </div>

                    <div class="col">
                        <label for="">Teclado caracteristicas:</label>
                        <input type="text" class="form-control"> 
                    </div>

                </div>
            

                 <div class="row">
                    <div class="col">
                        <label for="">Mouse tipo:</label>
                        <input type="text" class="form-control"> 
                    </div>

                    <div class="col">
                        <label for="">Mouse serial:</label>
                        <input type="text" class="form-control"> 
                    </div>

                    <div class="col">
                        <label for="">Mouse caracteristicas:</label>
                        <input type="text" class="form-control"> 
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="col">
                            <label for="">Observaciones:</label>
                            <textarea name="" id="" cols="30" rows="10" class="form-control" style="width: 350px; height: 60px;"></textarea>
                    </div>

                    <div class="col">
                        <center>
                            <button class="btn btn-secondary">Agregar equipo</button>
                        </center>
                    </div>

                    <div class="col">

                    </div>
                </div>
        </form>
   
</div>
 <br>
{% endblock contenido %}
