{% extends 'base_home.html' %}
{% block titulo %} Gestion de reportes{% endblock titulo %}
{% block contenido %}
<div class="container">

        <form action="" class="form-control">
            <fieldset><h5> Reportes</h5></fieldset>
            <select name="" id="">
                <option value="">Accesos</option>
                <option value="">Usuarios</option>
                <option value="">Bitacoras</option>
                <option value="">Hojas de vida</option>
            </select>
                
        </form>
   
</div>
{% endblock contenido %}
